# Franco's Code

In [7]:
import os

# Importing the necessary modules
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

warnings.filterwarnings('ignore')

# Setting up the options for the webdriver
options = Options()
options.add_experimental_option("detach", True)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()),
                          options=options)

In [8]:
def get_yahoo_table(yahoo_link, xpath):
    """Load a Yahoo Finance page and extract a table as a pandas DataFrame.

    :param yahoo_link: Yahoo Finance link to the page
    :param xpath: XPath of the table element

    :return: pandas DataFrame containing the table data
    """
    # Open a web browser to the provided Yahoo Finance link
    driver.get(yahoo_link)

    # Wait for the page to fully load (you might need to adjust the time)
    time.sleep(5)

    # Try to find the table on the page using the provided description (XPath)
    try:
        table_element = driver.find_element('xpath', xpath)
    except:
        # If the table is not found, show a message and return nothing
        print("Table element not found.")
        return None

    # Get the contents of the table in a format that computers can understand
    table_html = table_element.get_attribute('outerHTML')

    # Convert the table's contents into a structured format that can be easily worked with
    table_df = pd.read_html(table_html)[0]

    # Return the structured table as a result
    return table_df

In [9]:
# You will get this link by going to yahoo finance and doing the screener thing
yahoo_link = "https://finance.yahoo.com/screener/unsaved/7d812a11-7160-460b-8e6a-d2b34e009d41?offset=0&count=100"
# This should be the same for everyone but if you face issue drop a whatsapp message in the group
table_xpath = "/html/body/div[1]/div/div/div[1]/div/div[2]/div/div/div[6]/div/div/section/div/div[2]/div[1]"

table_data = get_yahoo_table(yahoo_link, table_xpath)

In [10]:
table_data

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,BRK-B,Berkshire Hathaway Inc.,345.45,-0.89,-0.26%,2.754M,3.074M,753.385B,8.68,NaN
1,BRK-A,Berkshire Hathaway Inc.,523690.12,-1734.88,-0.33%,9421,7779,752.831B,8.77,NaN
2,V,Visa Inc.,234.44,-0.60,-0.26%,5.372M,5.229M,487.588B,29.79,NaN
3,JPM,JPMorgan Chase & Co.,144.77,-0.33,-0.23%,6.959M,9.104M,420.715B,9.31,NaN
4,MA,Mastercard Incorporated,394.74,-3.23,-0.81%,2.475M,2.291M,371.929B,37.00,NaN
...,...,...,...,...,...,...,...,...,...,...
95,WEBNF,Westpac Banking Corporation,13.63,-0.28,-2.01%,3565,5082,47.755B,12.39,NaN
96,BBVA,"Banco Bilbao Vizcaya Argentaria, S.A.",7.87,-0.13,-1.63%,725543,1.04M,47.506B,6.40,NaN
97,HKXCY,Hong Kong Exchanges and Clearing Limited,37.03,-0.11,-0.30%,44310,71834,46.948B,31.92,NaN
98,MET,"MetLife, Inc.",61.90,0.58,+0.95%,2.795M,3.675M,46.55B,143.95,NaN
99,ING,ING Groep N.V.,13.28,-0.24,-1.78%,1.158M,2.342M,46.498B,7.68,NaN

In [11]:
table_data.shape

(100, 10)

In [12]:
if not os.path.exists("data/"):
    os.mkdir("data/")
    print("Data Directory Created!")

Data Directory Created!

In [13]:
file_name = "finance.csv"
table_data.to_csv("data/" + file_name)

In [14]:
table_data.columns

Index(['Symbol', 'Name', 'Price (Intraday)', 'Change', '% Change', 'Volume',
       'Avg Vol (3 month)', 'Market Cap', 'PE Ratio (TTM)', '52 Week Range'],
      dtype='object')