# Reading Stock Screeners based on Industry 

What we aim to do here is to get a list of all the companies and their technicals/fundamentals. 

## Steps followed
1. Import necessary libraries and setup chromedriver
2. Define a function that will get the Yahoo Finance
    1. Load the page
    2. Find the table in the page
    3. Extract the table
    4. Read the table as a dataframe 
3. Save the dataframe

In [1]:
import os

# Importing the necessary modules
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

warnings.filterwarnings('ignore')

In [2]:
# Setting up the options for the webdriver
options = Options()
options.add_experimental_option("detach", True)
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()),
                          options=options)

In [3]:
def get_yahoo_table(yahoo_link, xpath):
    """Load a Yahoo Finance page and extract a table as a pandas DataFrame.

    :param yahoo_link: Yahoo Finance link to the page
    :param xpath: XPath of the table element

    :return: pandas DataFrame containing the table data
    """
    # Open a web browser to the provided Yahoo Finance link
    driver.get(yahoo_link)

    # Wait for the page to fully load (you might need to adjust the time)
    time.sleep(5)
    driver.execute_script("window.scrollBy(0, 500);")
    driver.find_element("xpath", '//*[@id="scr-res-table"]/div[1]/table/thead/tr/th[6]').click()
    time.sleep(5)
    driver.find_element("xpath", '//*[@id="scr-res-table"]/div[1]/table/thead/tr/th[6]').click()
    time.sleep(5)


    # Try to find the table on the page using the provided description (XPath)
    try:
        table_element = driver.find_element('xpath', xpath)
    except:
        # If the table is not found, show a message and return nothing
        print("Table element not found.")
        return None

    # Get the contents of the table in a format that computers can understand
    table_html = table_element.get_attribute('outerHTML')

    # Convert th/e table's contents into a structured format that can be easily worked with
    table_df = pd.read_html(table_html)[0]

    # Return the structured table as a result
    return table_df

In [4]:
# You will get this link by going to yahoo finance and doing the screener thing
yahoo_link = "https://finance.yahoo.com/screener/unsaved/4621466d-bf34-43f9-a725-3ac55efd1144?offset=0&count=100"
# This should be the same for everyone but if you face issue drop a whatsapp message in the group
table_xpath = '//*[@id="scr-res-table"]/div[1]/table'


table_data = get_yahoo_table(yahoo_link, table_xpath)

In [5]:
table_data

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,PCG,PG&E Corporation,17.41,0.11,+0.64%,12.124M,17.942M,43.547B,18.92,NaN
1,NEE,"NextEra Energy, Inc.",67.59,-0.65,-0.95%,8.213M,8.109M,136.783B,16.69,NaN
2,AES,The AES Corporation,16.76,-0.32,-1.87%,6.051M,5.569M,11.223B,NaN,NaN
3,XEL,Xcel Energy Inc.,58.52,0.53,+0.91%,7.502M,4.008M,32.276B,18.58,NaN
4,VST,Vistra Corp.,33.15,-0.13,-0.40%,4.38M,4.637M,12.185B,9.36,NaN
...,...,...,...,...,...,...,...,...,...,...
80,FOJCF,Fortum Oyj,13.75,0.00,0.00%,100,442,12.337B,11.36,NaN
81,PPWLM,PacifiCorp,119.00,5.00,+4.39%,51,58,42.49B,50.04,NaN
82,OEZVY,VERBUND AG,17.70,0.00,0.00%,15,55,30.746B,13.11,NaN
83,TNABY,Tenaga Nasional Berhad,8.20,0.00,0.00%,11,634,12.427B,18.22,NaN
84,ENAKF,E.ON SE,11.99,0.00,0.00%,10,1128,32.26B,49.96,NaN

In [6]:
table_data.shape

(85, 10)

In [7]:
if not os.path.exists("data/"):
    os.mkdir("data/")
    print("Data Directory Created!")

In [8]:
file_name = "utilities.csv"
table_data.to_csv("data/" + file_name)

In [9]:
table_data.columns

Index(['Symbol', 'Name', 'Price (Intraday)', 'Change', '% Change', 'Volume',
       'Avg Vol (3 month)', 'Market Cap', 'PE Ratio (TTM)', '52 Week Range'],
      dtype='object')